body {
  background-image: url("../images/cookies.jpg");
  font-family: Arial, sans-serif;
  background-size: cover;
  text-align: center;
}


h1 {
  color: #954535;
  font-family: cursive;
  text-align: center;

}

.butter {

}

.sugar {

}

.vanilla {

}

.flour {

}

.eggs {

}

.salt {

}

.chocolate {

}
